@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");
/* the slides */

.banner {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
}

.banner .wrapper {
    width: 100%;
    padding-top: 0px;
    text-align: center;
}
.banner .wrapper .banner-carousel {
    width: 85%;
    margin: 0px auto;
}
.banner .wrapper .banner-carousel .box-image {
    border-radius: 15px;
    overflow: hidden;
    max-height: 300px;
}
.banner .wrapper .banner-carousel .box-image img {
    width: 100%;
    max-height: 100%;
}

.slick-slide {
    margin: 0 2px;
}

.slick-list {
    margin: 0 auto;
    padding: 20px 0;
}
.slick-arrow {
    z-index: 1;
    width: 40px;
    height: 40px;
}
.slick-arrow:before {
    font-size: 30px;
}
.banner-carousel .slick-next {
    right: 0;
}
.banner-carousel .slick-prev {
    left: 0;
}

.event-terbaru {
    max-width: 90%;
}

.event-terbaru .slick-arrow::before {
    color: #1e4356;
    font-size: 30px;
}

.slick-next {
    right: 0;
}
.slick-prev {
    left: 0;
}

button.slick-disabled {
    opacity: 0.6;
}

.banner-carousel .slick-dots li button:before {
    display: none;
}

.banner-carousel .slick-dots {
    position: absolute;
    height: 50px;
    bottom: 0px;
    width: 100%;
    left: 0px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: center;
}

.banner-carousel .slick-dots li {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: Transparent;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 2.5px;
    cursor: pointer;
    position: relative;
}

.banner-carousel .slick-dots li.slick-active {
    background: #fff;
    -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.28);
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.28);
}

.banner-carousel .slick-dots li a {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 120px;
    height: 75px;
    display: block;
    visibility: hidden;
    border: 4px solid rgba(0, 0, 0, 0.5);
    margin-left: -60px;
    margin-bottom: 15px;
    -webkit-transition: visibility 0.5s linear 0.5s;
    transition: visibility 0.5s linear 0.5s;
    -webkit-animation: fadeOut 0.5s both;
    animation: fadeOut 0.5s both;
}

.banner-carousel .slick-dots li a:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 100%;
    width: 0;
    height: 0;
    border: 8px solid Transparent;
    border-top-color: rgba(0, 0, 0, 0.5);
    margin-top: 4px;
}

.form-search {
    margin: 0 auto;
    text-align: center;
    font: bold 14px sans-serif;
    width: 100%;
    position: relative;
}

.form-search input {
    width: 65%;
    box-sizing: border-box;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-color: #ffffff;
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 15px 14.5px 10px;
    border: 1px solid #b6c3cd;
    color: #4e565c;
	letter-spacing: 0.8px;
    outline: none;
}

.form-search .button {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #1e4356;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #ffffff;
    padding: 15px 35px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;
}
.filter {
	background-color: #26546b;
	border-color: #1e4356;
}
.filter:hover {
	background-color: #1e4356;
	border-color: #1e4356;
}
.filter:focus {
	background-color: #1e4356 !important;
	border-color: #1e4356;
}

.form-search i {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 16px;
    color: #80a3bd;
}

/*Profile Card 5*/
.profile-card-5 {
    margin-top: 20px;
}
.profile-card-5 .btn {
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 11px;
    padding: 7px 20px;
}
.profile-card-5 .card-img-block {
    width: 91%;
	height:200px;

    margin: 0 auto;
    position: relative;
    top: -20px;
	overflow: hidden;
}
.profile-card-5 .card-img-block img {
	width:100%;
	height:100%;
	object-fit:cover;
    border-radius: 5px;
	object-position: top;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}
.profile-card-5 h5 {
    color: #4e5e30;
    font-weight: 450;
	font-size: 16px;
}
.profile-card-5 small {
    font-size: 12px;
	color: #303030;
}

.profile-card-5 .location {
    color: #7d7d7d;
}

.profile-card-5 p {
    font-size: 13px;
    font-weight: 500;
	color: #3f3f3f;
}

.profile-card-5 .event-user {
    font-size: 14px;
    font-weight: 500;
	color: #404040;
}
.profile-card-5 .btn-primary {
    background-color: #4e5e30;
    border-color: #4e5e30;
}

/* the parent */



.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.tabs button:active, .tabs button:focus{
	outline: none !important;
   	box-shadow: none;
}
.tabs button{
	background: none;
	color: #222;
	display: inline-block;
	border: 3px #1e4356;
	border-bottom-style: solid;
	cursor: pointer;
	background: none;
}

.tabs button.current{
	border: 3px #1e4356;
	border-bottom-style: solid;
	background: #1e4356;
	color: #ffffff;
}

.tab-content{
	display: none;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
	text-align: left;
}
.ticket-card{
	background-color: none;
	border: solid 2px #a5a5a5;
}

.dashed{
	border: 0 none;
	border-top: 1.7px dashed #a5a5a5;
	background: none;
	height:0;
  }
.view-image-event{
	max-height: 50vh;
	overflow:hidden
}
.view-image-event button{
	z-index: 9;
	position:absolute;
	bottom: 20px;
	right:20px;
}

.search-result-box {
	padding: 0 70px;
}

#filter-date, #sort-filter{
	border-color: #9d9d9d;
}
#filter-date:active, #filter-date:focus, #sort-filter:active, #sort-filter:focus{
	outline: none !important;
   	box-shadow: none;
}


.form-control-label {
    font-size: 10.5px;
    color: #6c6c6c;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.select2-container--open {
    z-index: 9999999
}

.select2.select2-container {
	width: 100% !important;
}

.select2.select2-container .select2-selection{
	border-radius: 0 ;
	padding-top: 1px;
	height: 35px;
}
.select2-selection__arrow {
	margin-top: 3px;
}
.select2-selection__clear{
	display: none;
}

.jenis-event.select2-results__options {
	height: 50px !important;
 }
.select2-results__options {
	min-height: 300px !important;
 }

/* Styling checkot detail event */
.checkout-image-cover{
	width: 100%;
	padding:5px !important;
	height:100px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.checkout-image-cover img{
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius: 5px;
	object-position: top;
}
.custom-form-label{
	color: #6c757d !important;
}
.not-allowed {
	cursor: not-allowed !important;
}

#org-info-logo-container {
	width: 70px;
	height:70px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

#org-info-logo-container img {
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius: 50%;
	object-position: center;
}

.org-detail-logo-container {
	width: 150px;
	height:150px;
	margin-top: 10px !important;
	overflow: hidden;
	margin: 0 auto;
}

.org-detail-logo-container img {
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius: 50%;
	object-position: center;
}
.org-list-logo-container {
	width: 50px;
	height:50px;
	overflow: hidden;
	margin: 0 auto;
}

.org-list-logo-container img {
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius: 50%;
	object-position: center;
}

.tabs .tab-link{
	background-color: #f5f9fd;
}
.bg-soft-blue{
	background-color: #eff0f6;
  	border: .01rem solid #e0e1ed;
}
.my-shadow{
	box-shadow: rgba(0, 0, 0, 0.45) 0px 1px 6px;
}

@media only screen and (min-width: 950px) {
    .nav-menu .link-login-register {
        padding-right: 0px;
    }
}

@media only screen and (max-width: 1040px) {
    .search-result-box {
		padding: 0 10px;
	}
	
}
@media only screen and (max-width: 800px) {
    .banner {
        padding-top: 10px;
        padding-bottom: 0px;
    }
    .banner .wrapper .banner-carousel {
        width: 95%;
    }
    .banner .wrapper .banner-carousel .box-image {
        border-radius: 10px;
        max-height: 160px;
    }
    .event-terbaru-section .event-terbaru {
        max-width: 98%;
    }
	.search-result-box {
		padding: 0 10px;
	}
	.search-result-box .card-event-search {
		padding: 0 10px;
	}
	.org-detail-logo-container {
		width: 100px;
		height:100px;
	}

	
}

