.form-control-label {
    font-size: 10px;
    color: #6c6c6c;
    font-weight: normal;
    letter-spacing: 1.5px;
	margin-bottom: 4px;
}
.myevent-container-img {
	width: 80px;
	height:80px;
	
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.bg-dashboard{
	background-color: #1e4356 !important;
}
.myevent-container-img img {
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius: 5px;
	object-position: center; 
}

.border-rounded{
	border-radius: 40px !important;
}
.manajemen-event-box .edit-button{
	font-family: Raleway-SemiBold;
	font-size: 13px;
	color: #17a2b8;
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid #17a2b8;
	border-radius: 40px;
	background: transparent;
	transition: all 0.3s ease 0s;
}
.manajemen-event-box .edit-button:hover{
	color: #FFF;
	background: #17a2b8;
	border: 2px solid #17a2b8;
}

.manajemen-event-box .transaction-button{
	font-family: Raleway-SemiBold;
	font-size: 13px;
	color: #FFF;
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid rgba(58, 133, 191, 0.75);
	border-radius: 40px;
	background-color: rgba(58, 133, 191, 0.75);
	transition: all 0.3s ease 0s;
}
.manajemen-event-box .transaction-button:hover{
	background: transparent;
	color: rgba(58, 133, 191, 0.75);
	border: 2px solid rgba(58, 133, 191, 0.75);
}

.manajemen-event-box .dana{
	font-size: 12px;
	color: #FFF;
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid rgba(103, 192, 103, 0.75);
	background-color: rgba(103, 192, 103, 0.75);
	transition: all 0.3s ease 0s;
}
.manajemen-event-box .dana:hover{
	/* background: transparent;
	color: #2dbc4e; */
	color: #FFF;
	font-size: 13px;
	border: 2px solid rgba(103, 192, 103, 0.75);
}

#detailReportButton:hover{
	font-size: 17px;
	transition: 0.5s;
}

.bg-card-blue {
	background-color: #f4f6f9 !important;
	/* box-shadow: none; */
	/* border: none !important; */
}

.select2.select2-container {
	width: 100% !important;
}

.select2.select2-container .select2-selection{
	border-radius: 0 ;
	padding-top: 5px;
	padding-left: 2px;
	height: 35px;
}
.select2-selection__arrow {
	margin-top: 3px;
}
.select2-selection__clear{
	display: none;
}

.jenis-event.select2-results__options {
	height: 50px !important;
 }
 
.select2-results__options {
	min-height: 220px !important;
 }

.data-pendaftar{
	font-size: 14px;
}
.daftar-peserta .form-search{
	padding-left: 2.3rem !important;
	padding-bottom: 8px;
}

.daftar-peserta .form-control-icon {
    position: absolute !important;
    z-index: 20;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* Edit profile  */
.tb-container{
	display: grid;
	place-items: center;
}

.img-container {
	width: 120px;
	height:120px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.img-container img {
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius: 50%;
	object-position: center;
}

.org_logo_container {
	width: 70px;
	height:70px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.org_logo_container img {
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius: 50%;
	object-position: center;
}

.tb-container input {
	display: none;
  }
  
.tb-container label{
	width: 130px;
	height: 30px;
	background: transparent;
	color: rgba(58, 133, 191, 0.75);
	border: 2px solid rgba(58, 133, 191, 0.75);
	font-size: 14px;
	border-radius: 40px;
	cursor: pointer;
	display: flex;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 2;
	align-items: center;
	justify-content: center;
	margin:0 auto;
	transition: 0.5s;
  }

.tb-container label:hover{
	background-color: rgba(58, 133, 191, 0.75);
	color: #FFF;
	border: 2px solid rgba(58, 133, 191, 0.75);

  }


  .custom-file-uploader {
	position: relative;
	border-radius: 0 !important;
	
	input[type='file'] {
	  display: block;
	  position: absolute;

	  z-index: 5;
	  width: 100%;
	  height: 100%;
	  opacity: 0;
	  cursor: default;
	}
  }


  #get-data-org-table .width-25{
	width: 80px !important;
  }

  .nav-tabs .nav-link{
	color: #1b1b1b !important;
  }
  .nav-tabs .active{
	background-color: #17a2b8 !important;
	color: #FFF !important;
  }

@media only screen and (max-width: 800px) {
	.title-manage-event{
		font-size: 13px;
	}

	.data-pendaftar{
		font-size: 13px;
	}
   
}