/* Sidebar CSS */
.main-sidebar {
    overflow-y: auto; /* Membuat sidebar dapat discroll */
    max-height: calc(100vh - 60px); /* Mengatur tinggi maksimum sidebar, disesuaikan dengan tinggi header jika ada */
}

/* Sidebar Content CSS */
.sidebar {
    padding-bottom: 50px; /* Menambahkan ruang di bagian bawah sidebar agar konten tidak menutupi bagian bawah saat discroll */
}

/* Untuk browser berbasis WebKit */
.main-sidebar::-webkit-scrollbar {
    display: none; /* Menyembunyikan scrollbar pada browser berbasis WebKit */
}

/* Untuk browser selain WebKit (misalnya Firefox) */
.main-sidebar {
    scrollbar-width: none; /* Menyembunyikan scrollbar pada browser selain WebKit */
}

.content-wrapper {
    background-color: #f4f6fa !important;
    font-size: 13.5px !important;
}

.navbar-nav .nav-link{
    font-size: 14px !important;
    font-weight: 600 !important;
    color: rgb(108, 158, 193) !important;
	
}

.nav-header{
    font-size: 13px !important;
    font-weight: 600 !important;
    color: rgb(108, 158, 193) !important;
}
.main-sidebar {
    box-shadow: none !important;
    background-color: #101e35 !important;
    border-right: 1px solid #dadada !important;
    /* background-color: #3076a5 !important; */
    /* background: linear-gradient(to right, #2e76a7, #539ccc) !important; */
}

.main-sidebar .nav .nav-link {
    color: #bdbdbd !important;
    font-size: 13px !important;
    /* font-family: 'Source Sans Pro', 'Inter', sans-serif, !important; */
    /* color: #d0e6f8 !important; */
	  display: flex;
    align-items: center;     /* Vertikal tengah */
    /* justify-content: center; */
}

.main-sidebar .nav .nav-link.active {
    background-color: #23416e !important;
    /* background-image: linear-gradient(to right, #83d4ff, #c5fff3) !important; */
    color: #c0c0c0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.main-sidebar .nav-link.active .nav-icon{
    background: #6fb6fd60 !important;
    /* font-size:16px !important; */
    border: 0px solid #92b6d887 !important;
}

.nav-icon-custom {
    width: 24px !important;
    height: 24px !important;
    font-size:16px !important;
    display:flex !important;
    align-items: center !important;
    justify-content: center !important;
    /* background-color: rgba(25, 102, 173, 0.58) !important; */
    background-color: #1c365c !important;
    box-shadow: none !important;
}

/* Sembunyikan text nav-header ketika sidebar collapse */
.sidebar-mini.sidebar-collapse .main-sidebar .nav-header i,
.sidebar-mini.sidebar-collapse .main-sidebar .nav-header span {
    display: none;
}

/* Tampilkan kembali saat sidebar collapse + hover */
.sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-header i,
.sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-header span {
    display: inline;
}

/* Default: normal terlihat, kecil hilang */
.logo-normal { display: inline; }
.logo-collapsed { display: none; }

/* Sidebar collapse: normal hilang, kecil tampil */
.sidebar-mini.sidebar-collapse .brand-link .logo-normal {
    display: none;
}
.sidebar-mini.sidebar-collapse .brand-link .logo-collapsed {
    display: inline;
}

/* Sidebar collapse + hover: kembali ke logo normal */
.sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-link .logo-normal {
    display: inline;
}
.sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-link .logo-collapsed {
    display: none;
}

/* Matikan animasi hide brand-text hanya untuk logo */
.sidebar-mini.sidebar-collapse .brand-link span img{
    opacity: 1 !important;
    width: auto !important;
    display: inline !important;
}

.form-control-label {
    font-size: 10px;
    color: #6c6c6c;
    font-weight: normal;
    letter-spacing: 1.5px;
	margin-bottom: 4px;
}
.myevent-container-img {
	width: 80px;
	height:80px;
	
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.user-panel {
    font-size: 13px !important;
}

.card-header-custom {
	background-color: #7993da8c !important;
}

/* CSS */
.button-39 {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #161f33cc;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249,250,251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}

/* CSS */
.button-40 {
  background-color: #1f5fade0;
  border: 2px solid rgb(103, 149, 216);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem !important;
  font-weight: 500;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-40:hover {
  background-color: #134076e0;
  color: #ffffff;
}

.button-40:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-40:focus-visible {
  box-shadow: none;
}

.text-dark-custom{
	color: #325b99 !important;
}


.user-panel .image {
	width: 44px !important;
	height:44px !important;
	position: relative !important;
	overflow: hidden !important;
	padding: 0;
	border-radius: 50%;
}

.user-panel .image img {
	width:100% !important;
	height:100% !important;
	object-fit:cover !important;
	border-radius: 5px !important;
	object-position: top !important; 
}

/* .main-sidebar{
	background-color: #0384a4 !important;
	color: #fff !important;	
}

.sidebar .nav .nav-link{
	color: #FFF !important;
}

.sidebar .nav .active{
	background-color: #2eb6d8 !important;
	color: #FFF !important;
} */

.brand-link {
    border-bottom: 1px solid #a8c9e5 !important;
}

.user-panel {
    border-bottom: 1px solid #90a4b5 !important;
	align-items: center;
	text-align: center;
}

.user-panel {
    border-bottom: 1px solid #a8c9e5 !important;
	align-items: center;
	text-align: center;
}

.bg-dashboard{
	background-color: #24406c !important;
}
.myevent-container-img img {
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius: 5px;
	object-position: center; 
}

.border-rounded{
	border-radius: 40px !important;
}
.manajemen-event-box .edit-button{
	font-family: Raleway-SemiBold;
	font-size: 13px;
	color: #17a2b8;
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid #17a2b8;
	border-radius: 40px;
	background: transparent;
	transition: all 0.3s ease 0s;
}
.manajemen-event-box .edit-button:hover{
	color: #FFF;
	background: #17a2b8;
	border: 2px solid #17a2b8;
}

.manajemen-event-box .transaction-button{
	font-family: Raleway-SemiBold;
	font-size: 13px;
	color: #FFF;
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid rgba(58, 133, 191, 0.75);
	border-radius: 40px;
	background-color: rgba(58, 133, 191, 0.75);
	transition: all 0.3s ease 0s;
}
.manajemen-event-box .transaction-button:hover{
	background: transparent;
	color: rgba(58, 133, 191, 0.75);
	border: 2px solid rgba(58, 133, 191, 0.75);
}

.manajemen-event-box .dana{
	font-size: 12px;
	color: #FFF;
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid rgba(103, 192, 103, 0.75);
	background-color: rgba(103, 192, 103, 0.75);
	transition: all 0.3s ease 0s;
}
.manajemen-event-box .dana:hover{
	/* background: transparent;
	color: #2dbc4e; */
	color: #FFF;
	font-size: 13px;
	border: 2px solid rgba(103, 192, 103, 0.75);
}

#detailReportButton:hover{
	font-size: 17px;
	transition: 0.5s;
}

.bg-card-blue {
	background-color: #f4f6f9 !important;
	/* box-shadow: none; */
	/* border: none !important; */
}

.select2.select2-container {
	width: 100% !important;
}

.select2.select2-container .select2-selection{
	border-radius: 0 ;
	padding-top: 5px;
	padding-left: 2px;
	height: 35px;
}
.select2-selection__arrow {
	margin-top: 3px;
}
.select2-selection__clear{
	display: none;
}

.jenis-event.select2-results__options {
	height: 50px !important;
 }
 
.select2-results__options {
	min-height: 220px !important;
 }

.data-pendaftar{
	font-size: 14px;
}
.daftar-peserta .form-search{
	padding-left: 2.3rem !important;
	padding-bottom: 8px;
}

.daftar-peserta .form-control-icon {
    position: absolute !important;
    z-index: 20;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* Edit profile  */
.tb-container{
	display: grid;
	place-items: center;
}

.img-container {
	width: 120px;
	height:120px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.img-container img {
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius: 50%;
	object-position: center;
}

.org_logo_container {
	width: 70px;
	height:70px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.org_logo_container img {
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius: 50%;
	object-position: center;
}

.tb-container input {
	display: none;
  }
  
.tb-container label{
	width: 130px;
	height: 30px;
	background: transparent;
	color: rgba(58, 133, 191, 0.75);
	border: 2px solid rgba(58, 133, 191, 0.75);
	font-size: 14px;
	border-radius: 40px;
	cursor: pointer;
	display: flex;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 2;
	align-items: center;
	justify-content: center;
	margin:0 auto;
	transition: 0.5s;
  }

.tb-container label:hover{
	background-color: rgba(58, 133, 191, 0.75);
	color: #FFF;
	border: 2px solid rgba(58, 133, 191, 0.75);

  }


  .custom-file-uploader {
	position: relative;
	border-radius: 0 !important;
	
	input[type='file'] {
	  display: block;
	  position: absolute;

	  z-index: 5;
	  width: 100%;
	  height: 100%;
	  opacity: 0;
	  cursor: default;
	}
  }


  #get-data-org-table .width-25{
	width: 80px !important;
  }

  .nav-tabs .nav-link{
	color: #1b1b1b !important;
  }
  .nav-tabs .active{
	background-color: #17a2b8 !important;
	color: #FFF !important;
  }

.width-20{
	width: 90px !important;
}

.swal2-container {
	z-index: 11000 !important; /* Harus lebih tinggi dari Bootstrap modal */
}

@media only screen and (max-width: 800px) {
	.title-manage-event{
		font-size: 13px;
	}

	.data-pendaftar{
		font-size: 13px;
	}

	#kelolaOragisasiModal .modal-body{
		padding: 10px 8px !important;
	}
   
}

